{# src/OC/BookingBundle/Resources/views/layout.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Louvre - {{ parent() }}
{% endblock %}



{% block body %}


    <h1>Bienvenue au Louvre</h1>

    <hr>






{% endblock %}