{# src/OC/BookingBundle/Ressources/views/Ticket/add.html.twig#}

{% extends "OCBookingBundle::layout.html.twig" %}

{% block body %}

    <div class="booking-container">
        <h2>Réservez votre ticket</h2>

        {{ include('OCBookingBundle:Ticket:form.html.twig') }}


    </div>
{% endblock %}
