{# src/OCBookingBundle/Ressources/views/Booking/basket.html.twig
#}
<!-- Sidebar Header -->
<div class="col-lg-4">
        <nav  id="sidebar">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h3>Votre Réservation</h3>
            </div>

    <!-- Sidebar Tickets -->

            <ul >

                {% for ticket in tickets %}
                    <li>
                        {{ ticket.date|date('d F Y') }}

                        {{ ticket.lastName}}

                        {{ ticket.price }}
                        <button type="button" class="btn btn-danger">X</button>

                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('oc_booking_card') }}" class= "btn btn-primary">Valider le panier</a>

        </nav>
</div>


