<h3>Informations</h3>

<div class="well">
    <div class="container-fluid">
        <label class=""> Identité</label>
        <div class="form-inline">
            <input type="text" class="form-control col-6" id="formName" placeholder="Nom">
            <input type="text" class="form-control" id="formFirstName" placeholder="Prénom">
        </div>
    </div>
<select class="btn-default" name="choix">
    <option value="choix1">France</option>
    <option value="choix2">Espagne</option>
    <option value="choix3">Italie</option>
    <option value="choix4">Allemagne</option>
    <option value="choix5">Royaume-Uni</option>
    <option value="choix6">Canada</option>
    <option value="choix7">Etats-Unis</option>
    <option value="choix8">Chine</option>
    <option value="choix9">Japon</option>
    <option value="choix10">Pays-Bas</option>
    <option value="choix11">Irlande</option>
    <option value="choix12">Portugal</option>
</select>
        <div class="from-group">
            <label class=""> Numéro Carte bleue</label>
            <input type="text" class="form-control" id="cardId">
            <label class=""> Date d'expiration</label>
            <input type="date" class="form-control" id="cardDate">
            <label class=""> CVV</label>
            <input type="text" class="form-control xs" id="cardCvv">

            <input type="submit" class="btn-primary" id="validation">

        </div>




</div>