{# src/OC/BookingBundle/Resources/views/Ticket/index.html.twig #}

{% extends "OCBookingBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Bouton Gauche -->

    <div class="col-lg-1">
        <button id="openNavLeft" class="w3-button w3-xlarge w3-teal" onclick="w3_open_left()" title="Panier">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
    </div>

    <!-- Container Tickets -->

    <div class="col-md-10" id="ticket-container">
        <div class="col-md-3" id="container-Vinci">
            <section>
                <div class="w3-header">
                    <h2>Ticket De Vinci</h2>
                </div>
                <div class="w3-container">
                    <p>
                        Ticket tarif plein, permet l'accès à l'ensemble du musée.
                    </p>
                </div>
                <div class="w3-footer">
                    <h3>16 €</h3>
                </div>
            </section>
        </div>

        <div class="col-md-3">
            <section>
                <div class="w3-header">
                    <h2>Ticket Aelita André</h2>
                </div>
                <br>
                <div class="w3-footer ">
                    <h3>8 €</h3>
                </div>
            </section>
        </div>

        <div class="col-md-3" id="Picasso">
            <section>
                <div class="w3-header">
                    <h2>Ticket Picasso</h2>
                </div>
                <div class="w3-container">
                    <p>
                        Ticket Senior, permet l'accès à l'ensemble du musée.
                    </p>
                    <br>
                    <article>Justificatif à fournir</article>
                </div>
                <div class="w3-footer">
                    <h3>12 €</h3>
                </div>
            </section>
        </div>

        <div class="col-md-3" id="Van">
            <section>
                <div class="w3-header">
                    <h2>Ticket Van Der Rohe</h2>
                </div>
                <div class="w3-container">
                    <p>
                        Ticket tarif réduit, permet l'accès à l'ensemble du musée.
                    </p>
                    <br>
                    <article>Justificatif à fournir</article>
                </div>
                <div class="w3-footer">
                    <h3>10 €</h3>
                </div>
            </section>
        </div>
    </div>

    <div class="col-md-1">
        <button id="openNavRight" class="w3-button w3-xlarge w3-teal" onclick="w3_open_right()"
                title="Ajoutez un ticket">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    </div>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0" id="mySidebarR">
        <button class="w3-bar-item w3-button w3-large" onclick="w3_close_right()">Close &times;</button>

        <div class="w3-bar-item w3-header ">
            <div class="col-lg-12">
                <h3>Ajoutez un ticket</h3>
            </div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function w3_open_left() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebarL").style.width = "25%";
            document.getElementById("mySidebarL").style.display = "block";
            document.getElementById("openNavLeft").style.display = 'none';

        }

        function w3_close_left() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebarL").style.display = "none";
            document.getElementById("openNavLeft").style.display = "inline-block";
        }

        function w3_open_right() {
            document.getElementById("main").style.marginRight = "25%";
            document.getElementById("mySidebarR").style.width = "25%";
            document.getElementById("mySidebarR").style.display = "block";
            document.getElementById("openNavRight").style.display = 'none';

        }

        function w3_close_right() {
            document.getElementById("main").style.marginRight = "0%";
            document.getElementById("mySidebarR").style.display = "none";
            document.getElementById("openNavRight").style.display = "inline-block";
        }
    </script>
{% endblock %}