{# src/OC/BookingBundle/Resources/views/Ticket/tickets.html.twig #}
{% extends "OCBookingBundle::Layout.html.twig" %}

{% block body %}

    <!-- Container Tickets -->



    <div class="col-lg-3 ticket-container" id="vinci" style="background-image:url('{{ asset('bundles/ocbooking/images/de_Vinci.jpg')}}');">
        <div class="content-wrap">
            <div class="col background header">
                <h2>Ticket De Vinci</h2>
            </div>
            <div class="col background content">
                <p>
                    Ticket tarif plein, permet l'accès à l'ensemble du musée.
                </p>
            </div>
            <div class="col background price">
                <h3>16 € - la journée</h3>
                <h3>8 € - la demi-journée</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-3 ticket-container" id="aelita" style="background-image:url('{{ asset('bundles/ocbooking/images/AelitaAndre.jpg')}}');">
        <div class="content-wrap">
            <div class="col background header">
                <h2>Ticket Aelita André</h2>
            </div>
            <div class="col background content">
                <p>
                    Ticket enfant, permet l'accès à l'ensemble du musée.
                </p>
                <br>
                <article>
                    Justificatif à fournir <span class="glyphicon glyphicon-info-sign" title="Un justificatif vous sera demandé à l'entrée(carte d'identité, d'etudiant ou sénior)"></span>
                </article>
            </div>
            <br>
            <div class="col background price">
                <h3>8 € - la journée</h3>
                <h3>4 € - la demi-journée</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-3 ticket-container" id="picasso" style="background-image:url('{{ asset('bundles/ocbooking/images/guernica.jpg')}}');">
        <div class="content-wrap">
            <div class="col background header">
                <h2>Ticket Picasso</h2>
            </div>
            <div class="col background content">
                <p>
                    Ticket Senior, permet l'accès à l'ensemble du musée.
                </p>
                <br>
                <article>
                    Justificatif à fournir <span class="glyphicon glyphicon-info-sign" title="Un justificatif vous sera demandé à l'entrée(carte d'identité, d'etudiant ou sénior)"></span>
                </article>
            </div>
            <div class="col background price">
                <h3>12  - la journée</h3>
                <h3>6 € - la demi-journée</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-3 ticket-container" id="ad" style="background-image:url('{{ asset('bundles/ocbooking/images/reinhardt.jpg')}}');">
      <div class="content-wrap">
            <div class="col background header">
                <h1>Ticket Reinhardt</h1>
            </div>
            <div class="col background content">
                <h3>
                    Ticket tarif réduit, permet l'accès à l'ensemble du musée.
                </h3>
                <br>
                <article>
                    Justificatif à fournir <span class="glyphicon glyphicon-info-sign" title="Un justificatif vous sera demandé à l'entrée(carte d'identité, d'etudiant ou sénior)"></span>
                    </article>
            </div>
            <div class="col background price">
                <h3>10 € - la journée</h3>
                <h3>5 € - la demi-journée</h3>
            </div>
      </div>
    </div>




{% endblock %}

{% block javascripts %}

{% endblock %}