{# OC/BookingBundle/Resources/views/Emails/validation.html.twig #}
Bonjour

<h3> Votre achat de ticket à bien été pris en compte</h3>

Votre commande n°:{{ booking.id }} ! est finalisée.

Vous trouverez vos billets en pièce jointe.

Présentez les lors du controle d'entrée du Musée munis des pièces justificatives associées(cartes étudiantes, identités, chomages etc...).

Merci et à bientôt au Louvre !

<img src= "{{ asset('bundles/ocbooking/images/logo.jpg') }}" >