{# OC/BookingBundle/Resources/views/Emails/validation.html.twig #}
Bonjour

<h3> Votre achat de ticket à bien été pris en compte</h3>

Votre commande ! est finalisée.

Vous trouverez vos billets en pièce jointe.

Présentez le lors du controle d'entrée du Musée munis des pièces justificatives associées.

Merci et à bientôt au Louvre !

<img src= "{{ asset('bundles/ocbooking/images/logo.jpg') }}" >